$primary: #fafdf6;
$secondary: #3d3d3d;
$info: #fdc937;
$danger: #ca0d00;

$h1-font-size: 2rem;
$h2-font-size: 1.6rem;
$h3-font-size: 1.3rem;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

@import "../../node_modules/bootstrap/scss/bootstrap";
